<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Videostreaming</title>
    <style>
        .container {
            margin: 0;
            padding: 0;
            width: 100%;
            background-color: #e2d8f8;
            color: black;
            text-align: center;
        }
        
        .contenedor {
            width: 49%;
            background-color: #6a737c;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body class="container">
    <h1>Video en directo</h1>
    <div class="contenedor"><img src="{{ url_for('video_feed') }}" /></div>
    <div class="contenedor"><img src="{{ url_for('video_feed2') }}" /></div>
    <div class="contenedor"><img src="{{ url_for('video_feed') }}" /></div>
    <div class="contenedor"><img src="{{ url_for('video_feed') }}" /></div>
</body>

</html>